/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.waterBg{
  background-color: #225599;
}
.fireBg{
  background-color: #FF9741;
}
.grassBg{
  background-color: #65C572;
}
.flyingBg{
  background-color: #89AAE3;
}
.posionBg{
  background-color: #B567CE;
}
.ghostBg{
  background-color: #4C6AB2;
}
.groundBg{
  background-color: #E87236;
}
.rockBg{
  background-color: #C8B686;
}
.bugBg{
  background-color: #83C300;
}
.steelBg{
  background-color: #5A8EA2;
}
.electricBg{
  background-color: #FBD100;
}
.psychicBg{
  background-color: #FF6675;
}
.iceBg{
  background-color: #4CD1C0;
}
.dragonBg{
  background-color: #006FC9;
}
.darkBg{
  background-color: #5B5466;
}
.normalBg{
  background-color: #919AA2;
}
.fairyBg{
  background-color: #FB89EB;
}
.fightBg{
  background-color: #E0306A;
}


.waterFont{
  color: #225599;
}
.fireFont{
  color: #FF9741;
}
.grassFont{
  color: #65C572;
}
.flyingFont{
  color: #89AAE3;
}
.posionFont{
  color: #B567CE;
}
.ghostFont{
  color: #4C6AB2;
}
.groundFont{
  color: #E87236;
}
.rockFont{
  color: #C8B686;
}
.bugFont{
  color: #83C300;
}
.steelFont{
  color: #5A8EA2;
}
.electricFont{
  color: #FBD100;
}
.psychicFont{
  color: #FF6675;
}
.iceFont{
  color: #4CD1C0;
}
.dragonFont{
  color: #006FC9;
}
.darkFont{
  color: #5B5466;
}
.normalFont{
  color: #919AA2;
}
.fairyFont{
  color: #FB89EB;
}
.fightFont{
  color: #E0306A;
}