pokemon-detail{
  ion-content{
    .header{

    }
    .footer{
      position: absolute;
      width: 100%;
      transform: translateY(30px);
      ion-grid{
        ion-row{
          a{
            z-index: 10;
          }
          #footer-icon{
            position: absolute;
            width: 150px;
            height: 150px;
          }
          .left-item{
            display: flex;
            ion-icon{
              transform: translate(-50px, 20px);
            }
            a{
              position: absolute;
              img{
                width: 180px;
                transform: translateX(-20px);
              }
            }
          }
          .right-item{
            display: flex;
            justify-content: flex-end;
            ion-icon{
              transform: translate(50px, 20px);
            }
            a{
              position: absolute;
              img{
                width: 180px;
                transform: translateX(20px);
              }
            }
          }
        }
      }
    }
  }
}