pokemon-detail{
  ion-content{
    #header{
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .header-headercontent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .types{
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          width: 60px;
          height: 30px;
          padding: 0px 5px;
          pokemon-types{
            padding: 3px;
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      img{
        width: 205px;
      }
      .header-names{
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }
    .content{
      ion-grid{
        ion-row{
          ion-col{
            display: flex;
            flex-direction: column;
          }
        }
      }
      .toggleMoves{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 15px;
        ion-chip{
          background:none;
          width:60px;
          text-align: center;
          margin: 0 5px ;
          display: flex;
          justify-content: center;
          border: 2px solid grey;
          color: gray;
          &.active{
            color: black;
            border: 2px solid black;
          }
        }
      }
    }
    .footer{
      position: absolute;
      width: 100%;
      transform: translateY(30px);
      ion-grid{
        ion-row{
          a{
            z-index: 10;
          }
          #footer-icon{
            position: absolute;
            width: 150px;
            height: 150px;
          }
          .left-item{
            display: flex;
            ion-icon{
              transform: translate(-50px, 20px);
            }
            a{
              position: absolute;
              img{
                width: 180px;
                transform: translateX(-20px);
              }
            }
          }
          .right-item{
            display: flex;
            justify-content: flex-end;
            ion-icon{
              transform: translate(50px, 20px);
            }
            a{
              position: absolute;
              img{
                width: 180px;
                transform: translateX(20px);
              }
            }
          }
        }
      }
    }
  }
}